<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}">
	<title>{{ title }}</title>
</head>
<body>
	<main class="{{ contentClass }}">
		{{ content }}
	</main>
</body>
</html>
