---
layout: base
title: Keep moving
---
{% for item in pagination.items %}
	{% getNavLinkFromBlank 'top' item grid collections.all %}
	{% getNavLinkFromBlank 'left' item grid collections.all %}
	{% getNavLinkFromBlank 'right' item grid collections.all %}
	{% getNavLinkFromBlank 'bottom' item grid collections.all %}
{% endfor %}

<section class="content blank"> 
</section>
