---
layout: base
---
{% if cellId %}
	{% getNavLink 'top' cellId grid collections.all %}
	{% getNavLink 'left' cellId grid collections.all %}
	{% getNavLink 'right' cellId grid collections.all %}
	{% getNavLink 'bottom' cellId grid collections.all %}
{% endif %}

<section class="content {{ postClass }}">
	<header>
		<h1>{{ title }}</h1>
	</header>
	<article>
		{{ content | safe }}
	</article>
	<footer>
		2021-2022 Lockdown Magazine 
	</footer>
</section>
