<div class="nav-grid">
	{% assign rows = grid.size | minus: 1 %}
	{% for i in (0..rows) %}
		<div class="nav-row">
			{% assign row = grid[i] %}
			{% assign cols = row.size | minus: 1 %}
			{% for j in (0..cols) %}
				<span class="nav-cell">
					{% assign cell = row[j] %}
					{% if cell %}
						{% getNavLink 'current' cell grid collections.all %}
					{% else %}
						{% assign index = i | append: "-" | append: j %}
						{% getNavLinkFromBlank 'current' index grid collections.all %}
					{% endif %}
				</span>
			{% endfor %}
		</div>
	{% endfor %}
</div>













