/* POST STYLES */
section.content {
	display: grid;
	grid-template-columns: 1fr 700px 1fr;

	&.blank {
		background-color: var(--grey-800);
		color: var(--white);
	}

	header {
		margin-top: 100px;
		margin-bottom: 100px;
		grid-column: 2/auto;
	}

	article {
		grid-column: 2/auto;
	}
	
	footer {
		margin-top: 100px;
		grid-column: 2/auto;
	}
}
