* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--yellow);
  color: var(--body-font-color);
}

body {
	background-color: var(--white);
	color: var(--black);
	margin: 0;
}


