main {
	background-color: var(--grey-800);
	min-height: 100vh;
	display: grid;
	justify-content: end;
	grid-template-columns: 50px 1fr 50px;
	grid-template-rows: 50px 1fr 50px;
	grid-template-areas:
		". top ."
		"left content right"
		". bottom .";

	&.nonav {
		background-color: var(--white);
	}

	section.content {
		background-color: var(--white);
		grid-area: content;
	}

	.nav-link {
		background-color: var(--grey-700);
		color: var(--white);
		text-decoration: none;
		text-align: center;
		font-size: var(--font-size-lg);
		font-weight: bold;
		opacity: 1;
		align-self: stretch;
		/* To center arrow */
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;

		&::after {
			height:100%;
			display:inline-block;
			vertical-align: middle;
		}

		&:hover {
			background-color: var(--grey-600);
		}

		&.top {
			grid-area: top;
			padding-top: 20px;
			.arrow { transform: rotate(-45deg); }
		}

		&.bottom {
			grid-area: bottom;
			padding-bottom: 20px;
			.arrow { transform: rotate(135deg); }
		}

		&.right {
			grid-area: right;
			padding-right: 20px;
			.arrow { transform: rotate(45deg); }
		}

		&.left {
			grid-area: left;
			padding-left: 20px;
			.arrow { transform: rotate(-135deg); }
		}

		&.post, &.quote, &.figure {
			color: var(--black);
			background-color: var(--grey-700);
		}

		&.post:hover {
			background-color: var(--yellow);
		}

		&.figure:hover {
			background-color: var(--green);
		}

		&.quote:hover {
			background-color: var(--red);
		}

		span.cell-title { display: none; }
	}
}


.nav-grid {
	display: inline-block;

	.nav-row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: stretch;
		width: fit-content;

		.nav-cell {
			flex: 0 1;
			margin: 2px;
			background-color: var(--grey-600);

			a {
				display: block;
				width: 50px;
				height: 50px;

				&.post {
					background-color: var(--yellow);
					&:hover, &:active, &:visited {
						background-color: var(--yellow-light);
					}
				}

				&.quote {
					background-color: var(--green);
					&:hover, &:active, &:visited {
						background-color: var(--green-light);
					}
				}

				&.figure {
					background-color: var(--red);
					&:hover, &:active, &:visited {
						background-color: var(--red-light);
					}
				}

				div.arrow {
					display: none;
				}

				span.cell-title {
					display: none;
				}
			}
		}
	}
}

.arrow {
	width: 30px;
	height: 30px;
	box-sizing: border-box;

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: 5px 5px 0 0;
		border-style: solid;
		border-color: #fafafa;
		display: block;
		transform-origin: 100% 0;
	}


	&:after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 5px 0 0;
		border-style: solid;
		border-color: #fafafa;
		transform-origin: 100% 0;
	}
}
