body {
	font-family: var(--sans-font-family);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--serif-font-family);
}

h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-2xl);
}

h4 {
	font-size: var(--font-size-xl);
}

h5 {
	font-size: var(--font-size-lg);
}

h6 {
	font-size: var(--font-size-base);
}

p {
	font-size: var(--font-size-base);
}
