:root {
  --white: white;
  --grey-100: #f7f7f7;
  --grey-200: #dedede;
  --grey-300: #c4c4c4;
  --grey-400: #ababab;
  --grey-500: #919191;
  --grey-600: #787878;
  --grey-700: #5e5e5e;
  --grey-800: #454545;
  --grey-900: #2b2b2b;
  --black: black;
  --black-50-a: rgba(0, 0, 0, 0.05);
  --black-100-a: rgba(0, 0, 0, 0.1);
  --white-400-a: rgba(255, 255, 255, 0.4);
  --white-700-a: rgba(255, 255, 255, 0.7);
  --white-850-a: rgba(255, 255, 255, 0.85);
  --yellow: #fee267;
  --yellow-light: #efe2a8;
	--red: #eb8989;
	--red-light: #f5b8b8;
	--green: #b6e8b2;
	--green-light: #d5efd3;
  --orange: #ebb289;
  --blue: #89cfeb;
	--purple: #d0b2e8;
	--pink: #e1add2;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.563rem;
  --font-size-2xl: 1.953rem;
  --font-size-h2: 2.441rem;
  --font-size-h1: 3.052rem;
  --sans-font-family: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", helvetica, arial, sans-serif, apple color emoji, segoe ui emoji, cursive;
  --serif-font-family: constantia, "Lucida Bright", lucidabright, "Lucida Serif", lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", georgia, serif;
  --mono-font-family: "Source Code Pro", menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
}
