---
layout: base 
title: Index 
contentClass: nonav
---
<section class="content {{ postClass }}">
	<header>
		<h1>Index<h1>
	</header>
	<article>
		{% include grid %}
	</article>
	<footer>
		2021-2022 Lockdown Magazine 
	</footer>
</section>
